@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <title>Document</title>
</head>
<body>
    <!--ring div starts here-->
    <div class="ring">
        <i style="--clr:#00ff0a;"></i>
        <i style="--clr:#ff0057;"></i>
        <i style="--clr:#fffd44;"></i>
        <div class="login">
            <h2>Đăng kí</h2>
            <div class="inputBx">
                <input type="text" placeholder="Tên tài khoản">
            </div>
            <div class="inputBx">
                <input type="text" placeholder="Email">
            </div>
            <div class="inputBx">
                <input type="text" placeholder="Số điện thoại">
            </div>
            <div class="inputBx">
                <input type="text" placeholder="Mật khẩu">
            </div>
            <div class="inputBx">
                <input type="password" placeholder="Nhập lại mật khẩu">
            </div>
            <a class="click" asp-controller="Login" asp-action="Login">Đăng kí</a>
            <div class="links">
                <a href="#">Đã có tài khoản</a>
                <a asp-controller="Login" asp-action="Login">Đăng nhập</a>
            </div>
        </div>
    </div>
    <!--ring div ends here-->
</body>
</html>