    <!-- About 4 - Bootstrap Brain Component -->
<section class="py-3 py-md-5 py-xl-8 bg-light">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12">
                <h2 class="display-3 fw-bold mb-4">Về chúng tôi</h2>
                <div class="row">
                    <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6 d-flex gap-3">
                        <p class="lead m-0">—</p>
                        <p class="lead text-secondary m-0">Chúng tôi là một nhóm lập trình viên hoạt đông độc lập cố gắng hoàn thiện trang web của mình</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-3 py-md-5 py-xl-10">
    <div class="container">
        <div class="row gy-3 gy-md-4 gy-lg-0">
            <div class="col-12 col-lg-6">
                <div class="card bg-accent-subtle border-accent-subtle p-3 m-0">
                    <div class="row gy-3 gy-md-0 align-items-md-center">
                        <div class="col-md-5">
                            <img src="~/img/about/about-img-2.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body p-0">
                                <h2 class="card-title h4 mb-3">Tại sao nên sử dụng trang web này?</h2>
                                <p class="card-text">Ở đây có vô vàn công thức nấu ăn, đa dạng sự lựa chọn và trên hết có 1 giao diện thân thiện dễ dùng để bạn sử dụng.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card bg-primary-subtle border-primary-subtle p-3 m-0">
                    <div class="row gy-3 gy-md-0 align-items-md-center">
                        <div class="col-md-5">
                            <img src="~/img/about/about-img-1.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body p-0">
                                <h2 class="card-title h4 mb-3">Đội ngũ</h2>
                                <p class="card-text">Với tư cách là một nhóm lập trình viên độc lập, chúng tôi sẽ cố gắng hết sức để giải quyết các vấn đề của trang web và các vấn đề được yêu cầu giải quyết của các bạn.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>