<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Your go-to cooking guide for various recipes and culinary tips." />
    <meta name="keywords" content="cooking, recipes, guide, culinary" />
    <title>@ViewData["Title"] - AI Cooking Guide Website</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header id="header" class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom border-light-subtle">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="~/img/branding/planet-logo.svg" class="bsb-tpl-logo" alt="AI Cooking Guide Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Index" asp-controller="Home" style="color: black;">Trang chủ</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="categoryDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Danh mục</a>
                                <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
                                    <li><a class="dropdown-item" asp-controller="List" asp-action="Index">Tất cả</a></li>
                                    <li><a class="dropdown-item" asp-controller="List" asp-action="Index">Sáng</a></li>
                                    <li><a class="dropdown-item" asp-controller="List" asp-action="Index">Trưa</a></li>
                                    <li><a class="dropdown-item" asp-controller="List" asp-action="Index">Tối</a></li>
                                    <li><a class="dropdown-item" asp-controller="List" asp-action="Index">Ăn vặt</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Search" asp-action="Index">Tìm kiếm</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="About" asp-action="Index">Về chúng tôi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Contact" asp-action="Index">Liên hệ</a>
                            </li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="@User.FindFirst("AvatarUrl")?.Value" alt="Avatar" class="rounded-circle" style="width: 30px; height: 30px; object-fit: cover;">
                                        @User.Identity.Name
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" asp-controller="Profile" asp-action="Profile">Hồ sơ cá nhân</a></li>
                                        <li><a class="dropdown-item" asp-controller="Login" asp-action="Logout">Đăng xuất</a></li>
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Login" asp-action="Login">Đăng kí/Đăng nhập</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="container pb-3">
        @RenderBody()
    </main>
    <footer class="footer bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-3 text-center">
                    <a href="#">
                        <img src="~/img/branding/planet-logo.svg" alt="AI Cooking Guide Logo" class="bsb-tpl-logo-footer">
                    </a>
                </div>
                <div class="col-md-6">
                    <ul class="nav justify-content-center">
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Advertise</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Terms</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Privacy</a></li>
                    </ul>
                </div>
                <div class="col-md-3 text-center">
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link" href="#!"><i class="bi bi-facebook"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#!"><i class="bi bi-youtube"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#!"><i class="bi bi-twitter"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
