<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Your go-to cooking guide for various recipes and culinary tips." />
    <meta name="keywords" content="cooking, recipes, guide, culinary" />
    <title>@ViewData["Title"] - AI Cooking Guide Website</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <linkrel =”stylesheet”href =”https://maxcdn.bootstrapcdn.com/font-Awesome/4.6.3/css/font-Awesome.min.css” />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link href="~/css/aboutcss.css" rel="stylesheet" />
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet" />
    <link href="~/css/congthuc.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link href="~/css/seach.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">


  
</head>
<body>
    <header id="header" class="sticky-top bsb-tpl-header-sticky bsb-tpl-header-sticky-animationX">

        <nav class="navbar navbar-expand-lg bsb-navbar bsb-navbar-hover bsb-navbar-caret bsb-tpl-navbar-sticky bg-white border-bottom border-light-subtle" data-bsb-sticky-target="#header">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="~/img/logo/logo.png" class="bsb-tpl-logo" alt="">
                    <span class="text" style="color:tomato; font-size: 24px; font-weight: 700;">Michelin Btec</span>
                </a>
               
                <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                    </svg>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Index" asp-controller="Home">
                                    <i class="fas fa-home"></i> Trang chủ
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="MyRecipe" asp-action="Index">
                                    <i class="fas fa-list"></i>Công thức của tôi
                                    </a>
                            </li> 
                           
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Search" asp-action="Index">
                                    <i class="fas fa-search"></i> Tìm kiếm
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="About" asp-action="Index">
                                    <i class="fas fa-info-circle"></i> Về chúng tôi
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Contact" asp-action="Index">
                                    <i class="fas fa-phone"></i> Liên hệ
                                </a>
                            </li>

                            <li class="nav-item">
                                @if (User.Identity.IsAuthenticated)
                                {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="@User.FindFirst("AvatarUrl")?.Value" alt="Avatar" class="rounded-circle" style="width: 30px; height: 30px; object-fit: cover;">
                                            @User.Identity.Name
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" asp-controller="Profile" asp-action="Profile">Hồ sơ cá nhân</a></li>
                                        <li><a class="dropdown-item" asp-controller="Login" asp-action="Logout">Đăng xuất</a></li>
                                    </ul>
                                </li>
                                }
                                else
                                {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Login" asp-action="Login">
                                        <i class="fas fa-user"></i> Đăng kí/Đăng nhập
                                    </a>
                                </li>   
                                }
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="section-container">
        <section id="newsletter" class="section-p1 section-m1">
            <div class="newstext">
                <h4>Sign Up For Newsletters</h4>
                <p>Get E-mail updates about our latest shop and <span>special offers.</span></p>
            </div>
            <div class="form">
                <input type="text" placeholder="Your email address">
                <button class="normal">Sign Up</button>
            </div>
        </section>


        <footer class="footer">
            <div class="col">
                <section id="sidebar">
                    <a href="#" class="brand">
                        <img src="~/img/logo/logo.png" alt="Logo AdminHub" class="icon" />
                        <span class="text">Michelin Btec</span>
                    </a>
                </section>

                <h4>Contact</h4>
                <p><strong>Address: </strong>My Dinh commune dormitory unit 5, Nguyen Co Thach street, My Dinh 2, Nam Tu Liem, Ha Noi</p>
                <p><strong>Phone:</strong> +01 2222 365 / (+91) 81 2345 6789</p>
                <p><strong>Hours:</strong> 10:00 - 18:00, Mon - Sat</p>
                <div class="follow">
                    <h4>Follow us</h4>
                    <div class="icon">
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-pinterest-p"></i>
                        <i class="fab fa-youtube"></i>
                    </div>
                </div>
            </div>
            <div class="col-container">
                <div class="col">
                    <h4>About</h4>
                    <a href="#">About us</a>
                    <a href="#">Delivery Information</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms & Conditions</a>
                    <a href="#">Contact Us</a>
                </div>

                <div class="col">
                    <h4>My Account</h4>
                    <a href="#">Sign In</a>
                    <a href="#">View Cart</a>
                    <a href="#">My Wishlist</a>
                    <a href="#">Track My Order</a>
                    <a href="#">Help</a>
                </div>

                <div class="col install">
                    <h4>Install App</h4>
                    <p>From App Store or Google Play</p>
                    <div class="row">
                        <img src="~/img/pay/app.jpg" />
                        <img src="~/img/pay/play.jpg" />
                    </div>
                    <p>From App Store or Google Play</p>
                    <img src="~/img/pay/pay.png" />
                </div>
            </div>


            <div class="copyright">
                <p>© 2024, Btec-fpt </p>
            </div>
        </footer>
    </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.9.6/lottie.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/detailfood.js"></script>
    <script src="~/js/profile.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
