@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<AI_Cooking_Guide_Website.Models.AddModel.Recipe>

<div class="slideshow-wrapper">
    <div class="slideshow-container">
        <div class="slide fade">
            <div class="overlay"></div>
            <img src="~/img/branding/poodvn1.jpg" alt="Bánh chưng" />
            <div class="slogan">"Bánh chưng xanh, hương vị Tết đậm đà"</div>
        </div>
        <div class="slide fade">
            <div class="overlay"></div>
            <img src="~/img/branding/poodvn2.jpg" alt="Củ kiệu" />
            <div class="slogan">"Củ kiệu giòn tan, kết nối tình thân"</div>
        </div>
        <div class="slide fade">
            <div class="overlay"></div>
            <img src="~/img/branding/poodvn3.jpg" alt="Mứt Tết" />
            <div class="slogan">"Mứt ngọt ngào, Tết thêm ý nghĩa"</div>
        </div>
    </div>
</div>

<section class="bsb-blog-5 py-3 py-md-5 py-xl-8 bsb-section-py-xxl-1">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12">
                <h2>Danh sách món ăn mới nhất</h2>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="row gy-4">
            @foreach (var recipe in Model)
            {
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card recipe-card">
                        <a asp-controller="Home" asp-action="FoodDetails" asp-route-id="@recipe.Id" class="d-block">
                            <img class="card-img-top recipe-image"
                                 src="@recipe.Image"
                                 alt="@recipe.Name">
                        </a>
                        <div class="card-body text-center">
                            <h5 class="card-title recipe-title">@recipe.Name</h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <a asp-action="List" asp-controller="Home" class="btn bsb-btn-2xl btn-primary rounded-pill mt-5 mt-xl-10">Xem thêm</a>
            </div>
        </div>
    </div>
</section>

