@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<AI_Cooking_Guide_Website.Models.AddModel.Recipe>




<!-- Blog 5 - Bootstrap Brain Component -->
<section class="bsb-blog-5 py-3 py-md-5 py-xl-8 bsb-section-py-xxl-1">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12">
                <h2 class="h4 mb-4 mb-md-5">Mới nhất</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row gy-4">
            @if (Model != null && Model.Count > 0)
            {
                foreach (var recipe in Model)
                {
                    <div class="col-12 col-lg-4">
                        <div class="card border-0 bg-light">
                            <a asp-controller="Home" asp-action="FoodDetails" asp-route-id="@recipe.Id">
                                <img class="card-img-top" src="@recipe.Image" alt="@recipe.Name" style="height: 250px;">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">@recipe.Name</h5>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>Không còn món ăn nào để hiển thị.</p>
            }
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <a href="#!" class="btn bsb-btn-2xl btn-primary rounded-pill mt-5 mt-xl-10">Xem thêm</a>
            </div>
        </div>
    </div>
</section>

